pre{
	background-color:white;
	color:black;
}

body{
	background-color:#222;
	color:#C14452;
}

.regularBackground{
	background-color:#222;
}

.well{
	background-color:#222;
}

.laBackground{
  background-image: url('../img/losAngelesSunset.jpg');
  background-size:100% 100%;
  background-position: left top;
  background-repeat:no-repeat;
  background-origin:inherit;
  min-height:800px;

}
